/* Clearfix */

.group:after {
    content: "";
    display: table;
    clear: both;
}


/**
 *
 * Layout
 *
 */



.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.main-content {
    float: left;
    margin-left: auto;
    margin-right: auto;
    
}

.side-nav {
    float: left;
    width: 25%;
}

.page{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}


/**
 *
 * Design
 *
 */

label{
    font-weight: bold;
}

.validation-error {
    color: red;
}


/**
  *
  * Typography
  *
  */

.validation-error {
    font-style: italic;
}